@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.AboutContainer{
    margin-top: 1rem;
    color: #FFFFFF;
    width: 100%;
    font-family: "lato",sans-serif;
    flex-flow: nowrap;
    .LeftSide svg{
        font-size: 3.5rem ;
        fill: #FA709A;
    }
    
    .LeftSide{
        // max-height:100% ;
        height: 94vh;
        overflow: hidden;
        .text{
            height: 100%;
            background:#222222 ;
            box-shadow: 1px -2px 33px 3px rgba(64, 60, 60, 0.75) inset;
            -webkit-box-shadow: 1px -2px 33px 3px rgba(95, 91, 91, 0.75) inset;
            -moz-box-shadow: 1px -2px 33px 3px rgba(84, 80, 80, 0.75) inset;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                writing-mode: vertical-lr;
                word-spacing: 10px;
                letter-spacing: 1rem;
                font-size: 1.5rem;
                

                span{
                    color: #FA709A;
                }
            }
        }
        
    }
    .RightSide::-webkit-scrollbar {
        display: none;
    }
    .RightSide{
        // scrollbar-gutter: none;
        margin-left: 2rem;
        overflow-x: hidden;
        // overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;

   
        height: 94vh;
        
        .CrossButton{
            position: absolute;
            right: 2rem;
            top: 2rem;
            button svg{
                fill: #FFF;
                font-size: 2.5rem;
            }
            button{
                border-radius: 50%;
                background-color: transparent;
                
                border: none;
                
            }
        }
        
        h2{
           text-align: center;
           font-weight: 900;
           font-size: 2.75rem;
            span{
                color: #07FFF7;
            }
        }
        .PersonalData{
            h3{
                font-size: 1.5rem;
            }
            .Border{
                border-bottom: 3px solid #FA709A ;
                width: 50px;
                border-radius: 8px;
                margin-top: 0.5rem;
            }
            .content{
                background:#222222;
                padding: 2rem 4rem 2rem 3rem;
                box-shadow: 1px -2px 33px 3px rgba(64, 60, 60, 0.75) inset;
                -webkit-box-shadow: 1px -2px 33px 3px rgba(95, 91, 91, 0.75) inset;
                -moz-box-shadow: 1px -2px 33px 3px rgba(84, 80, 80, 0.75) inset;
                border-radius: 8px;

                .profile{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img{
                       width: 400px;
                       height: 145px;
                       border-radius: 50%;
                       display: none;
                    }
                    
                    h5{
                        font-size: 20px;
                        // padding-left: 1rem;
                        line-height: 1.8rem;
                        text-align: justify;
                        font-weight: 400;
                        
                        color: #9FA0A3;
                    
                    }
                }

                
                .PersonalInfo svg{
                    fill: #07FFF7;
                }
                .PersonalInfo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                            

                    strong{
                        vertical-align: top;
                        
                       
                    }
                    span{
                        vertical-align: top;
                    color: #9FA0A3;

                    }
                    
                }
            }
        }
        .Icon svg{
            vertical-align: middle;
            fill: #000;
            background-color: none !important;
            padding: 0.5rem;
            border-radius: 50%;
            background: #fff;
  
          }
          .Icon{
              padding-top: 1rem;
              padding-bottom: 2rem;
       
              span{
                  margin-left: 1rem !important;     
              }
          }
    }
    .Bottons{
        display: flex;
        div{
          margin-right: 0.8rem;
        }
    }
    .ServiceContainer{
        // height: 90vh;
        h3{
            font-size: 1.5rem;
        }
        .Border{
            border-bottom: 3px solid #FA709A ;
            width: 50px;
            border-radius: 8px;
            margin-top: 0.5rem;
        }
        .serviceContent{
            background:#222222;
            padding: 2rem 4rem 2rem 3rem;
            box-shadow: 1px -2px 33px 3px rgba(64, 60, 60, 0.75) inset;
            -webkit-box-shadow: 1px -2px 33px 3px rgba(95, 91, 91, 0.75) inset;
            -moz-box-shadow: 1px -2px 33px 3px rgba(84, 80, 80, 0.75) inset;  
            border-radius: 8px;

           
            
        }
    }
}
  
@media only screen and (max-width:1024px) {
     
    .profile{
        img{
             display: block  !important;
        }
        h5{
        padding-left: 1.5rem !important;
        }
        .LeftSide{
           
        }
    }
}
@media only screen and (max-width:768px) {
    .Bottons{
        display: block !important;
        div{
          margin-top: 0.8rem;
        }
    }
    .LeftSide svg{
     font-size: 2rem !important;
    }
    .LeftSide{

        .text{
            h1{
                margin: 4px;
            }
        }
    }
    .RightSide{
        margin-left: 1rem !important;
       
        width: 100%;  
        h2{
            font-size: 1.8rem !important;
          
            
        }
        h3{
            font-size: 1.2rem !important;
        }
        .CrossButton{
            right: 1rem !important;
            top: 1.5rem !important;
            button svg{
                
                font-size: 2rem !important;
            }
        }
    }
    .content{
        padding: 1rem !important;
    }
    .PersonalInfo{
      flex-direction: column !important;
      align-items: flex-start !important;
    }
   .profile{
    flex-direction: column !important;
    align-items: flex-start !important;
       img{
        width: 100% !important;
        border-radius: 5px !important;
        height: 50% !important;
       }
       h5{
       padding-left: 0 !important;
       }
      
   }
   .serviceContent{
    padding: 3rem 1rem 0rem 1rem !important;
   }
   .profile{
    h5{
      font-size:inherit !important;
    }
   }
}