.ServiceContainer{
    width: 100%;
   
     .ServiceItem{
        width: 90%;
        margin: 0 auto;
        
        .hr{
            width: 3rem !important;
            border-bottom: 3px solid #FA709A;
            border-radius: 8px;
            margin-bottom: 1.5rem;
        }
        
     }
     .Information{
        background-color: #222222;
        width: 100%; 
        .InfoItem{
            width: 90%;
            .para{
                font-size: 18px;
                line-height: 1.5rem;
                color: #5F6279;
                letter-spacing: 1px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 1.5rem;
            }
        }
        .Data svg{
            fill: #07FFF7;
            padding-right:0.5rem ;
            
        }
        .Data{
            padding-left: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div{
            
            strong{
                vertical-align: top;
                letter-spacing: 1px;
            }
            span{
                vertical-align: top;
                letter-spacing: 1px;
                
                color: #5F6279;

            }
           }
        }

        .Icon svg{
          vertical-align: middle;
          fill: #000;
          background-color: none !important;
          padding: 0.5rem;
          border-radius: 50%;
          background: #fff;

        }
        .Icon{
            padding-top: 1rem;
            padding-bottom: 2rem;
            padding-left: 1.5rem;
            span{
                margin-left: 1rem !important;     
            }
        }
        
    }
    

}