.BlogCardContainer{
    width: 100%;
    // padding: 0.5rem ;

    h2{
        font-size: 1.8rem;
        font-family: sans-serif; 
        margin-top: 0;
    }
    img{
        width: 100%;
    }
    p{
        font-family: sans-serif;
        line-height: 25px;

      
    }
   
}
.footer{

    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 3rem;
        .footerItem{
            display: flex;
            justify-content: space-between;
            width: 75%;

            p{
                color: #FFB400;
                 span{
                     vertical-align: top;
                     // padding-left: 1rem;
                 }
                 strong{
                     vertical-align: top;
                     color: #fff;
                     font-weight: normal;
                 }
             }
        }
   
}
